
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  header {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  

  h1, h2, h3 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  
  input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  #pokemonNombre {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  li.hovered {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .column-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .pokemon-item {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pokemon-item img {
    max-width: 100px;
  }
  
  .pokemon-item.hovered {
    background-color: #f0f0f0;
  }
  #tipoSelector,
#filtrarTipo,
#nombreInput,
#filtrarNombre {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

#filtrarTipo {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#filtrarTipo:hover {
  background-color: #0056b3;
}

#filtrarNombre {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#filtrarNombre:hover {
  background-color: #0056b3;
}